<h1 class="ui grey inverted header">Artists</h1>
<%= link_to "|Back To Billboard|", billboards_path %>
<%= link_to "|New Artist|", new_artist_path %>
<div class="ui divider"></div>

<table class="ui selectable inverted table" >

  <thead>
    <tr class="center aligned">
      <th colspan="4"></th>
    </tr>
  </thead>
  
  <tbody>
    <% @artists.each_with_index do |artist, index| %>

      <tr class="center aligned">
        <td><%= (index+1) %></td>
        <td><%= artist.name %></td>
        <td><%= artist.genre %></td>

        <td><%= link_to "View", artist_path(artist) %></td>
        <td><%= link_to "Remove", artist_path(artist), method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>
