<h1 class="ui grey inverted header"> Billboard</h1>
<h2 class="ui grey inverted header"> Top 100</h2>
<div class="ui divider"></div>

<%= link_to "|View Artists|", artists_path(@artists) %> |
<%= link_to "|Add New Artist|", new_artist_path(@artists) %> |
<%= link_to "|Add Song|", new_billboard_song_path(@songs) %> 

<table class="ui selectable inverted table">
  <thead>
    <tr class="center aligned">
      <th colspan="4"></th>
    </tr>
  </thead>
  
  <tbody>
    <% @songs.each do |song| %>
      <tr class="center aligned">
        
        <td><%= song.name %></td>
        <td><%= song.genre %></td>
        <td><%= song.artist %></td>
        <td><%= link_to @artist.name, artist_song_path(@artist, song), method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>